<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%= title %></title>
<link href="./css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel=“stylesheet”>
<link href="./mdb/css/mdb.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
    <body>
        <section class="vh-100 mt-5" style="background-color: #eee;">
            <h1 class="text-center text-success">User Dashboard</h1>
            <form action="/user/logout" method="POST">
                <button type="submit" class="btn btn-info">Logout</button>
            </form>
          </section>

        <script src="./js/jquery.min.js"></script>    
        <script src="./mdb/js/mdb.min.js"></script>   
        <script src="./js/popper.min.js"></script> 
        <script src="./js/bootstrap.min.js"></script> 
    </body>
</html>